# =========================
# ENV / SECRETS
# =========================
.env
.env.*
!.env.example
# =========================
# IntelliJ / IDEs
# =========================
.idea/
*.iml
*.ipr
*.iws
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# =========================
# Node / Angular
# =========================
node_modules/
dist/
.angular/
coverage/
npm-debug.log*
yarn-error.log*

# =========================
# Java / Maven
# =========================
target/
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
*.tar