version: "3.8"

services:
  # GATEWAY
  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    container_name: gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - user-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}
    networks:
      - comuna-network

  # AUTH SERVICE
  auth-service:
    container_name: auth-service
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    depends_on:
      - auth-db
      - user-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://auth-db:5432/authdb
      SPRING_DATASOURCE_USERNAME: auth
      SPRING_DATASOURCE_PASSWORD: auth
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      JWT_SECRET: ${JWT_SECRET}

    networks:
      - comuna-network


  auth-db:
    image: postgres:16
    ##volumes:
      ##- ./auth-service/init.sql:/docker-entrypoint-initdb.d/init.sql
    container_name: auth-db
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth
      TZ: America/Argentina/Buenos_Aires
    volumes:
      - auth-db-data:/var/lib/postgresql/data
    networks:
      - comuna-network

  # USER SERVICE
  user-service:
    container_name: user-service
    build:
      context: ./user-service
      dockerfile: Dockerfile
    depends_on:
      - user-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://user-db:5432/userdb
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: user
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      JWT_SECRET: ${JWT_SECRET}
    networks:
      - comuna-network

  user-db:
    image: postgres:16
    container_name: user-db
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
      TZ: America/Argentina/Buenos_Aires
    volumes:
      - user-db-data:/var/lib/postgresql/data
    networks:
      - comuna-network

  # REPORT SERVICE
  report-service:
    build:
      context: ./report-service
      dockerfile: Dockerfile
    container_name: report-service
    depends_on:
      - report-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://report-db:5432/reportdb
      SPRING_DATASOURCE_USERNAME: report
      SPRING_DATASOURCE_PASSWORD: report
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      JWT_SECRET: ${JWT_SECRET}
      SECURITY_LOG_LEVEL: INFO
    networks:
      - comuna-network

  report-db:
    image: postgres:16
    container_name: report-db
    environment:
      POSTGRES_DB: reportdb
      POSTGRES_USER: report
      POSTGRES_PASSWORD: report
      TZ: America/Argentina/Buenos_Aires
    volumes:
      - report-db-data:/var/lib/postgresql/data
    networks:
      - comuna-network

  #INVENTORY SERVICE
  inventory-service:
    build:
      context: ./inventory-service
      dockerfile: Dockerfile
    container_name: inventory-service
    depends_on:
      - inventory-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://inventory-db:5432/inventorydb
      SPRING_DATASOURCE_USERNAME: inventory
      SPRING_DATASOURCE_PASSWORD: inventory
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      JWT_SECRET: ${JWT_SECRET}
    networks:
      - comuna-network

  inventory-db:
    image: postgres:16
    container_name: inventory-db
    environment:
      POSTGRES_DB: inventorydb
      POSTGRES_USER: inventory
      POSTGRES_PASSWORD: inventory
      TZ: America/Argentina/Buenos_Aires
    volumes:
      - inventory-db-data:/var/lib/postgresql/data
    networks:
      - comuna-network

networks:
  comuna-network:
    driver: bridge

volumes:
  auth-db-data:
  user-db-data:
  report-db-data:
  inventory-db-data: