spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      mvc:
        routes:
          - id: user-service
            uri: http://user-service:8081
            predicates:
              - Path=/api/users/**
            filters:
              - StripPrefix=0

          - id: auth-service
            uri: http://auth-service:8082
            predicates:
              - Path=/api/auth/**
            filters:
              - StripPrefix=0

          - id: report-service
            uri: http://report-service:8083
            predicates:
              - Path=/api/report/**,/api/squad/reports/**,/api/new/**
            filters:
              - StripPrefix=0

          - id: inventory-service
            uri: http://inventory-service:8084
            predicates:
              - Path=/api/inventory/**
            filters:
              - StripPrefix=0

          - id: statistics-service
            uri: http://statistics-service:8085
            predicates:
              - Path=/api/statistics/**
            filters:
              - StripPrefix=0
server:
  port: 8080

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}