.card p, .card li, .card h5 {
  line-height: 1.6;
}

.card h5 {
  color: #0d6efd;
}

.breadcrumb a {
  text-decoration: none;
}
.container {
  display:block;
  max-width: 70%;
  justify-content: center;
}
@media (max-width: 768px) {
  .container {
    display:block;
  max-width: 100%;
  justify-content: center;
  }
}
.content-card{
  background-color: white;
}

